@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Recoleta";
    src: url(../fonts/Recoleta-SemiBold.ttf);
    font-weight: 600;
}

body {
    font-family: Noto Sans;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --bg: #163A24;
    --text: #FBFAF7;
    --button: #198C36;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.header {
    padding: 21px 140px 20px 130px;
    background-color: var(--bg);
    height: 98px;
}

.header_link {
    color: var(--text);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header_btn {
    color: var(--text);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 15px 25px;
background-color: var(--button);
border-radius: 160px;
width: 141px;
height: 52px;
border: none;
}

.header_list {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 0;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 437px;
}

.show_title {
    width: 391px;
    color: var(--text);
font-family: Recoleta;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 65.25px;
margin-bottom: 18px;
margin-top: 0;
}

.show_subtitle {
    width: 475px;
    color: var(--text);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
margin: 0;
}

.show {
    background-color: var(--bg);
    padding-top: 120px;
    padding-bottom: 129px;
    height: 544px;
}

.show .container {
    position: relative;
}

.show_bg {
position: absolute;
right: -55px;
bottom: -130px;
}

.human_girl-title {
    width: 325px;
    color: var(--bg);
font-family: Recoleta;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 54px;
margin: 0;
}

.human_girl-subtitle {
    width: 374px;
    color: var(--bg);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
margin: 0;
}

.human_boy-title {
    width: 376px;
    color: var(--bg);
font-family: Recoleta;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 54px;
margin: 0;
}

.human_boy-subtitle {
    width: 380px;
    color: var(--bg);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
margin: 0;
}

.human {
    padding-top: 120px;
    padding-bottom: 113px;
    height: 1045px;
}

.human_girl-wrapper {
    display: flex;
width: 393.328px;
padding: 0px 19.656px 16.828px 0px;
flex-direction: column;
align-items: flex-start;
gap: 27px;
}

.human_boy-wrapper {
    display: flex;
width: 393.328px;
padding: 0px 13.672px 17.047px 0px;
flex-direction: column;
align-items: flex-start;
gap: 27px;
}

.human_girl{
    display: flex;
    gap: 98px;
    height: 509.547px;
/* padding: 0px 98.344px 0px 98px; */
justify-content: center;
align-items: center;
margin-bottom: 0;
}

.human_boy {
    display: flex;
    height: 422.875px;
/* padding: 0px 98px 0px 98.344px; */
justify-content: center;
align-items: center;
gap: 98.328px;
}